.title-fonts {
  font-family: "Annie Use Your Telescope";
}

.info-container {
  text-align: center;
  font-family: "Helvetica";
}

.info-container p {
  font-weight: bold;
  font-size: 24px;
  margin: 5px 0px 10px 0px;
}

.catering_form-container {
  text-align: center;
  font-family: "Helvetica";
  background-color: #abcf49;
  padding: 30px;
  margin: 15px auto 0 auto;
  font-size: 18px;
  width: 80%;
}
