h1 {
  font-size: 72px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fec63d;
  width: 100vw;
}

.inner-container h1 {
  padding: 15px;
  font-size: 32px;
}

.inner-container h2 {
  padding: 5px;
}

.inner-inner-container {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  width: 100vw;
  margin: 30px 0px;
}

.inner-container-left {
  background-color: #abcf49;
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px 10px;
  border: 1px solid black;
}

.inner-container-left h1 {
  text-align: center;
  align-self: center;
}

.inner-container-left h3 {
  padding: 5px 15px;
}

.inner-container-right {
  background-color: #abcf49;
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px 10px;
  border: 1px solid black;
}

.inner-container-right h1 {
  text-align: center;
  align-self: center;
}

.inner-container-right h3 {
  padding: 5px 15px;
}

.form {
  background-color: #abcf49;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
  padding: 15px 30px;
  border: 1px solid black;
  margin-bottom: 50px;
}

.form button {
  width: 5vw;
  align-self: center;
}
