footer {
  display: flex;
  margin-top: 150px;
  background-color: #ff7d01;
  font-family: "Helvetica";
  font-size: 18px;
}

.footer-nav {
  margin: 15px 15px auto 15px;
}

.footer-nav a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.footer-nav a:hover {
  color: white;
}

.footer-nav li {
  list-style-type: none;
  margin: 0px 0px 14% 0px;
}

.footer-contact-text {
  margin: 15px 15px 15px 15px;
  font-size: 18px;
}

.footer-contact-text p {
  margin: 5px 0px 0px 5px;
}

.text-overflow {
  inline-size: 300px;
}

.footer-hours-text {
  margin-top: 20px;
}
.footer-hours-text p:not(:first-child) {
  margin-top: 10px;
}
.footer-hours-text p:nth-child(even) {
  font-size: 14px;
}

.footer-img {
  margin-left: auto;
  margin-right: 5px;
  margin-top: 5px;
  justify-content: center;
  align-content: center;
}

.footer-img p {
  text-align: center;
}
