* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff8e1;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #abcf49;
  padding-right: 30px;
}

.header-text {
  font-size: 72px;
  margin-top: 75px;
  color: white;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.nav-bar a {
  text-decoration: none;
  font-size: 48px;
  color: #f1f6be;
}

.nav-bar a:hover {
  color: white;
}
.nav-bar li {
  list-style-type: none;
  margin-top: 60px;
  padding: 15px 25px 15px 15px;
  border-right: solid white;
}

.nav-bar li:last-child {
  border-right: none;
}

h1 {
  font-size: 72px;
}

footer {
  display: flex;
  margin-top: 150px;
  background-color: #ff7d01;
}

.footer-nav {
  margin: 20px 75px auto 10px;
}

.footer-nav a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.footer-nav a:hover {
  color: white;
}

.footer-nav li {
  list-style-type: none;
  margin: 0px 0px 5px 15px;
}

.footer-contact-text {
  margin-top: 20px;
  font-size: 18px;
}

.footer-contact-text p {
  margin: 5px 0px 0px 5px;
}

.text-overflow {
  inline-size: 300px;
}

.footer-hours-text {
  margin-top: 20px;
  font-size: 14px;
}

.footer-hours-text b {
  font-size: 18px;
}

.footer-img img {
  position: relative;
  top: 5px;
  left: 850px;
}

.footer-img p {
  position: relative;
  top: 15px;
  left: 865px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  background-color: #fec63d;
  margin: auto;
}

.container p {
  font-size: 24px;
  padding: 15px 30px;
}

.slider {
  display: flex;
  margin: 100px;
}

.slider img {
  margin: auto;
  width: 50vw;
  height: 40vh;
}
