.top-container {
  text-align: center;
}

.meat-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  min-width: 30%;
  max-width: 60%;
  margin: auto;
  align-items: center;
  justify-items: center;
  gap: 30px;
  overflow: hidden;
  margin-top: 5vh;
  color: white;
}

.menu-items {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #abcf49;
}

.menu-items p {
  inline-size: 50%;
  margin: auto;
}
.menu-items h2 {
  padding-top: 15px;
}
.menu-items h3 {
  color: white;
}

.menu-items p:last-child {
  padding-bottom: 15px;
}
h2 {
  font-size: 48px;
  font-family: "Annie Use Your Telescope";
}
h3 {
  font-size: 30px;
}

.container {
  text-align: center;
  max-width: 65%;
  margin: 0 auto 0 auto;
  display: flex;
  min-width: 40%;
  flex-direction: column;
}
.menu-item-inner-container {
  display: flex;
  justify-content: center;
  padding: 25px;
  background-color: #abcf49;
  margin: 15px 0px 15px 0px;
  color: white;
}
.menu-item-inner-container h3,
.menu-item-inner-container p {
  margin-bottom: 10px;
}
.menu-item-inner-container-left,
.menu-item-inner-container-right {
  margin: 0 25px;
  color: white;
  width: 50%;
}

.alambres {
  margin-top: 15px;
}

.triple-container {
  display: flex;
  justify-content: center;
  padding: 25px;
  background-color: #abcf49;
  margin: 15px 0px 15px 0px;
  text-align: center;
}

.triple-inner-container {
  margin: 0 25px;
  color: white;
  width: 33%;
}

strong {
  font-size: 24px;
}
p {
  font-size: 20px;
}
.sidenav {
  display: block;
  width: fit-content;
  max-width: 20%;
  position: fixed;
  z-index: 1;
  top: 25%;
  background: #abcf49;
}

.sidenav a {
  text-align: left;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #fefce0;
  display: block;
}

.sidenav a:hover {
  color: #fff78e;
}
