.top-container {
  text-align: center;
}

.meat-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  min-width: 30%;
  max-width: 60%;
  margin: auto;
  align-items: center;
  justify-items: center;
  gap: 30px;
  overflow: hidden;
  margin-top: 5vh;
}

.menu-items {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #abcf49;
}

.menu-items p {
  inline-size: 50%;
  margin: auto;
}
.menu-items h2 {
  padding-top: 15px;
}
.menu-items h3 {
  color: white;
}

.menu-items p:last-child {
  padding-bottom: 15px;
}

.container {
  display: flex;
  min-width: 20%;
  max-width: 40%;
  flex-direction: column;
  margin: auto;
}
.menu-item-inner-container {
  display: flex;
  justify-content: center;
  padding: 25px;
  background-color: #abcf49;
  margin: 15px 0px 15px 0px;
}

.menu-item-inner-container-left {
  margin: 0 25px;
  font-size: 24px;
  color: white;
  width: 50%;
}
.menu-item-inner-container-right {
  margin: 0 25px;
  font-size: 24px;
  color: white;
  width: 50%;
}

.alambres {
  margin-top: 15px;
}

.menu-item-description {
  font-size: 16px;
}

.triple-container {
  display: flex;
  justify-content: center;
  padding: 25px;
  background-color: #abcf49;
  margin: 15px 0px 15px 0px;
  text-align: center;
}

.triple-inner-container {
  margin: 0 25px;
  font-size: 24px;
  color: white;
  width: 33%;
}

p {
  font-family: "Helvetica";
}
