/* Most CSS structure based off of https://www.w3schools.com/howto/howto_js_slideshow.asp*/
.slideshow-container {
  width: fit-content;
  min-height: 500px;
  min-width: 650px;
  max-width: 650px;
  max-height: 500px;
  position: relative;
  padding-left: 75px;
  padding-right: 75px;
  margin: 0px auto;
  text-align: center;
}

.img-container {
  display: none;
  text-align: center;
  max-width: inherit;
  max-height: inherit;
  margin: auto;
}
.center-img {
  display: flex;
  min-height: inherit;
  min-width: inherit;
  max-width: inherit;
  max-height: inherit;
}
.img-container img {
  width: 100%;
  height: 100%;
  max-width: inherit;
  max-height: inherit;
}
/* Next & previous buttons look */
.prev-arrow,
.next-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: #606060;
  opacity: 0.7;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next-arrow {
  right: 0;
  border-radius: 5px 0 0 5px;
}

/* Position the "prev button" to the left */
.prev-arrow {
  left: 0;
}

.prev-arrow:hover,
.next-arrow:hover {
  color: black;
}

.dot-container {
  text-align: center;
}
/* The dots/bullets/indicators */
.dot {
  height: 20px;
  width: 20px;
  margin: 0 3px;
  background-color: #c0c0c0;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #606060;
}

.fade-anim {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.45;
  }
  to {
    opacity: 1;
  }
}
