* {
  margin: 0;
}

body {
  background-color: #fff8e1;
  font-family: "Helvetica";
}

h1 {
  font-size: 72px;
}

.button {
  width: 200px;
  height: 50px;
  background: #abcf49;
  color: #fefce0;
  border: hidden;
  border-radius: 3px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.button:hover {
  opacity: 0.8;
  color: #fff78e;
}
.button:active {
  opacity: 0.7;
}
.title-fonts {
  font-family: "Annie Use Your Telescope";
}
h1 {
  font-family: "Annie Use Your Telescope";
}
